/* #region Defaults */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  --white: hsl(0, 0%, 100%);
  --cream: hsl(30, 38%, 92%);
  --aurometal-saurus: hsl(228, 12%, 48%);
  --deep-aquamarine: hsl(158, 36%, 37%);
  --deep-aquamarine-hover: hsl(157, 43%, 18%);
  --gunmetal: hsl(212, 21%, 14%);
  --ff-head: "Fraunces", serif;
  --ff-body: "Montserrat", sans-serif;
  --fz-1: calc(32 / 16 * 1rem);
  --fz-2: calc(14 / 16 * 1rem);
  --fz-3: calc(12 / 16 * 1rem);
  --s-500: calc(40 / 16 * 1rem);
  --s-300: calc(24 / 16 * 1rem);
  --s-200: calc(16 / 16 * 1rem);
  --s-150: calc(12 / 16 * 1rem);
  --s-100: calc(8 / 16 * 1rem);
  --s-50: calc(4 / 16 * 1rem);
}

*, *::before, *::after {
  box-sizing: inherit;
}

:not(ul, ol, li) {
  margin: 0;
}

body {
  width: inherit;
  height: inherit;
  font-optical-sizing: auto;
  font-family: var(--ff-body);
  background-color: var(--cream);
}

.attribution {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 1rem;
  font-size: 0.6875rem;
  text-align: center;
  color: var(--aurometal-saurus);
}

.attribution a {
  transition: 0.4s;
  color: var(--gunmetal);
}

.attribution a:hover,
.attribution a:visited {
  color: var(--deep-aquamarine);
  text-decoration: none;
}

/* #endregion Defaults */
/* #region Reusable CSS */
.grid {
  display: grid;
}

.text-display {
  font-family: var(--ff-head);
  font-size: var(--fz-1);
  font-weight: 700;
  line-height: 1em;
}

.text-body {
  font-size: var(--fz-2);
  font-weight: 500;
  line-height: 1.6428571429em;
}

.text-button {
  font-family: var(--ff-body);
  font-size: var(--fz-2);
  font-weight: 700;
  line-height: auto;
}

.text-overline {
  font-size: var(--fz-3);
  font-weight: 500;
  line-height: auto;
  letter-spacing: 0.3125rem;
  text-transform: uppercase;
}

/* #endregion Reusable CSS */
/* #region Mobile 375px */
main {
  width: inherit;
  height: inherit;
  display: grid;
  place-content: center;
}

.card {
  width: 21.4375rem;
  border-radius: 0.625rem;
  overflow: hidden;
}

.card-img {
  width: 100%;
  line-height: 0;
}

.card-img img[src*=desktop] {
  display: none;
}

.card-content {
  background-color: var(--white);
  padding: var(--s-300);
  row-gap: 1.125rem;
}

.category {
  color: var(--aurometal-saurus);
}

.title {
  color: var(--gunmetal);
}

.description {
  color: var(--aurometal-saurus);
}

.price {
  grid-auto-flow: column;
  justify-content: start;
  column-gap: 1.1875rem;
}

.price-new {
  color: var(--deep-aquamarine);
}

.price-old {
  color: var(--aurometal-saurus);
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 0.5652173913em;
  align-self: center;
  text-decoration: line-through;
}

.button {
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: var(--s-150);
  background-color: var(--deep-aquamarine);
  color: var(--white);
  border: none;
  border-radius: var(--s-100);
  cursor: pointer;
  transition: background-color 0.4s;
}

/* #endregion Mobile 375px */
/* #region Extra Small 320px */
@media only screen and (max-width: 23.375em) {
  .card {
    width: 17.5rem;
  }
  .card-img {
    width: 17.5rem;
    overflow: hidden;
  }
  .card-content {
    row-gap: var(--s-150);
  }
  .category {
    font-size: 0.625rem;
  }
  .title {
    font-size: 1.625rem;
  }
  .description {
    font-size: 0.75rem;
  }
  .price {
    column-gap: 0.875rem;
  }
  .price-new {
    font-size: 1.75rem;
  }
  .price-old {
    font-size: 0.75rem;
  }
  .button {
    column-gap: var(--s-100);
    padding: 0.625rem;
  }
}
/* #endregion Extra Small 320px */
/* #region Desktop 1440px */
@media only screen and (min-width: 90em) {
  .card {
    width: 37.5rem;
    height: 28.125rem;
    grid-auto-flow: column;
  }
  .card-img img[src*=mobile] {
    display: none;
  }
  .card-img img[src*=desktop] {
    display: block;
    height: 28.125rem;
  }
  .card-content {
    padding: 2rem;
  }
}
/* Desktop Active */
.button:hover,
.button:focus,
.button:active {
  background-color: var(--deep-aquamarine-hover);
}

.button:focus {
  outline-color: var(--deep-aquamarine);
}

/* #endregion Desktop 1440px */
