@use 'functions' as *;
@use "sass:math";
@use "sass:map";
@use "sass:list";

/* #region Defaults */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;

  --white: hsl(0, 0%, 100%);
  --cream: hsl(30, 38%, 92%);
  --aurometal-saurus: hsl(228, 12%, 48%);
  --deep-aquamarine: hsl(158, 36%, 37%);
  --deep-aquamarine-hover: hsl(157, 43%, 18%);
  --gunmetal: hsl(212, 21%, 14%);

  --ff-head: "Fraunces", serif;
  --ff-body: "Montserrat", sans-serif;

  --fz-1: calc(32 / 16 * 1rem);
  --fz-2: calc(14 / 16 * 1rem);
  --fz-3: calc(12 / 16 * 1rem);

  --s-500: calc(40 / 16 * 1rem);
  --s-300: calc(24 / 16 * 1rem);
  --s-200: calc(16 / 16 * 1rem);
  --s-150: calc(12 / 16 * 1rem);
  --s-100: calc(8 / 16 * 1rem);
  --s-50: calc(4 / 16 * 1rem);
}

*,*::before,*::after {box-sizing: inherit;}

:not(ul, ol, li) {margin: 0;}

body {
  width: inherit;
  height: inherit;
  font-optical-sizing: auto;
  font-family: var(--ff-body);
  background-color: var(--cream);
}

.attribution {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 1rem;
  font-size: rem(11px);
  text-align: center;
  color: var(--aurometal-saurus);
}

.attribution a {
  transition: .4s;
  color: var(--aurometal-saurus);
}

.attribution a:hover,
.attribution a:visited {
  color: var(--deep-aquamarine);
  text-decoration: none;
}
/* #endregion Defaults */

/* #region Reusable CSS */
.grid {
  display: grid;
}

.text-display {
  font-size: var(--fz-1);
  font-weight: 700;
  line-height: 1em;
}

.text-body {
  font-size: var(--fz-2);
  font-weight: 500;
  line-height: em(23px, 14px);
}

.text-button {
  font-size: var(--fz-2);
  font-weight: 700;
  line-height: auto;
}

.text-overline {
  font-size: var(--fz-3);
  font-weight: 500;
  line-height: auto;
  letter-spacing: rem(5px);
}
/* #endregion Reusable CSS */

/* #region Mobile 375px */
main {
  width: inherit;
  height: inherit;
  display: grid;
  place-content: center;
}

/* #endregion Mobile 375px */

/* #region Extra Small 320px */
@include desktop-media-query(374px) {

}
/* #endregion Extra Small 320px */

/* #region Desktop 1440px */
@include mobile-media-query(1440px) {

}

/* Desktop Active */


/* #endregion Desktop 1440px */