@use 'functions' as *;
@use "sass:math";
@use "sass:map";
@use "sass:list";

/* #region Defaults */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;

  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --gray-500: hsl(0, 0%, 42%);
  --gray-950: hsl(0, 0%, 7%);

  --ff-body: "Figtree", sans-serif;

  --fz-1: calc(24 / 16 * 1rem);
  --fz-2: calc(16 / 16 * 1rem);
  --fz-3: calc(14 / 16 * 1rem);

  --s-500: calc(40 / 16 * 1rem);
  --s-300: calc(24 / 16 * 1rem);
  --s-200: calc(16 / 16 * 1rem);
  --s-150: calc(12 / 16 * 1rem);
  --s-100: calc(8 / 16 * 1rem);
  --s-50: calc(4 / 16 * 1rem);
}

*,*::before,*::after {box-sizing: inherit;}

:not(ul, ol, li) {margin: 0;}

body {
  width: inherit;
  height: inherit;
  font-optical-sizing: auto;
  font-family: var(--ff-body);
  background-color: var(--yellow);
}

.attribution {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 1rem;
  font-size: rem(11px);
  text-align: center;
  color: var(--white);
}

.attribution a {
  transition: .4s;
  color: var(--white);
}

.attribution a:hover,
.attribution a:visited {
  color: var(--gray-950);
  text-decoration: none;
}
/* #endregion Defaults */

/* #region Reusable CSS */
.grid {
  display: grid;
}

.text-preset-1 {
  font-size: var(--fz-1);
  font-weight: 800;
  line-height: 1.5em;
}

.text-preset-2 {
  font-size: var(--fz-2);
  font-weight: 500;
  line-height: 1.5em;
}

.text-preset-3 {
  font-size: var(--fz-3);
  font-weight: 500;
  line-height: 1.5em;
}

.text-preset-3-bold {
  font-size: var(--fz-3);
  font-weight: 800;
  line-height: 1.5em;
}
/* #endregion Reusable CSS */

/* #region Mobile 375px */
main {
  width: inherit;
  height: inherit;
  display: grid;
  place-content: center;
}

.card {
  width: rem(327px);
  height: rem(501px);
  background-color: var(--white);
  border-radius: rem(20px);
  gap: var(--s-300);
  padding: var(--s-300);
  border: rem(1px) inset var(--gray-950);
  box-shadow: rem(8px) rem(8px) 0 black;
  justify-items: start;
}

.blog-image {
  width: 100%;
  height: rem(200px);
  border-radius: rem(10px);
  justify-self: center;
  justify-content: center;
  overflow: hidden;
}

.content {
  gap: var(--s-150);
}

.category {
  display: flex;
  column-gap: var(--s-100);
}

.category a {
  display: inline-block;
  text-decoration: none;
  background-color: var(--yellow);
  color: var(--gray-950);
  padding: var(--s-50) var(--s-150);
  border-radius: var(--s-50);
  font-size: var(--s-150);
}

.publish-date {
  font-size: var(--s-150);
}

.title {
  font-size: rem(20px);
  transition: color .4s;

}

.description {
  color: var(--gray-500);
}

.author {
  display: flex;
  align-items: center;
  column-gap: var(--s-150);
}

.user-pic {
  width: rem(32px);
  height: rem(32px);
}
/* #endregion Mobile 375px */

/* #region Extra Small 320px */
@include desktop-media-query(374px) {
  .card {
    width: rem(280px);
    height: auto;
    gap: var(--s-200);
    padding: var(--s-200);
  }
  
  .content {
    gap: var(--s-100);
  }
}
/* #endregion Extra Small 320px */

/* #region Desktop 1440px */
@include mobile-media-query(1440px) {
  .card {
    width: rem(384px);
    height: rem(522px);
  }
  
  .blog-image {
    width: rem(336px);
  }
  
  .category a,
  .publish-date {
    font-size: var(--fz-3);
  }
  
  .title {
    font-size: var(--fz-1);
  }
  
  .description {
    font-size: var(--fz-2);
  }
  
  .author {
    display: flex;
    align-items: center;
    column-gap: var(--s-150);
  }
  
  .user-pic {
    width: rem(32px);
    height: rem(32px);
  }
}

/* Desktop Active */
.title:hover {
  color: var(--yellow);
  cursor: pointer;
}

/* #endregion Desktop 1440px */